{{- define "main" }}
{{- if .Title }}
<header class="page-header">
    <h1>
        {{- if eq .Title "Categories" }}Kategóriák{{ else if eq .Title "Tags" }}Címkék{{ else }}{{ .Title }}{{ end -}}
    </h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>
{{- end }}

<ul class="terms-tags">
    {{- $type := .Type }}
    {{- range .Data.Terms.ByCount }}
    {{- $name := .Term }}
    {{- $count := .Count }}
    {{- with $.Site.GetPage (printf "/%s/%s" $type $name) }}
    <li>
        <a href="{{ .Permalink }}">{{ .Name }} <sup><strong><sup>{{ $count }}</sup></strong></sup> </a>
    </li>
    {{- end }}
    {{- end }}
</ul>
{{- end }}{{/* end main */ -}}
